.about-dropdown-container {
    background-color: #FF6060;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 31px;
    padding: 0 20px;
    border-radius: 5px;
}    

.about-dropdown-title {
    font-size: 24px;
    font-weight: 500;

}
    
.about-dropdown-content {
    background-color: #f7f7f7;
    color: #FF6060;
    max-width: 1024px;
    font-size: 24px;
    font-weight: 400;
    margin-top: -38px;
    margin-inline: auto;
    margin-bottom: 31px;
    padding: 40px 20px;
    border-radius: 5px;
    line-height: 34px;
}

.chevron {
    width: 24px;
    height: 14px;
}

@media screen and (max-width: 600px) {
    .banner-image {
        width: 336px;
        height: auto;
    }

    .about-dropdown {
        width: 335px;
        margin: auto;
    }

    .about-dropdown-container { 
        max-width: 335px;
        height: 30px;
    }

    .about-dropdown-title {
        font-size: 13px;
    }

    .about-dropdown-content {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 20px;
        padding: 23px 12px;
    }

    .chevron {
        width: 15px;
        height: 9px;
    }

  }